src/music_player.py
src/__pycache__/detection.cpython-312.pyc
src/m.py
audio/*.wav
audio/*.mp3
src/__pycache__/audio_processing.cpython-312.pyc
src/__pycache__/shared_data.cpython-312.pyc
src/n.py
src/main.py
requirements.txt
README.md
README.md
